<div class="row">
    <div class="col-12">
        <div class="btn btn-primary btn-block">
            Add New Product
        </div>
    </div>
    <br>
    <div class="col-md-4 mt-4" *ngFor="let product of products">
        <figure class="card card-product">
            <div class="img-wrap"> 
                <img src="https://s9.postimg.org/tupxkvfj3/image.jpg">
            </div>
            <figcaption class="info-wrap">
                <h6 class="title text-center"><a href="#">{{product.productName}}</a></h6>
                <div class="action-wrap">
                    <div class="row">
                        <div class="col-4">
                            <div class="btn btn-primary">Details</div>
                        </div>
                        <div class="col-4">
                            <div class="btn btn-warning">Update</div>
                        </div>
                        <div class="col-4">
                            <div class="btn btn-danger">Delete</div>
                        </div>
                    </div>
                </div> <!-- action-wrap -->
            </figcaption>
        </figure> <!-- card // -->
    </div> <!-- col // -->
   
</div> <!-- row.// -->
    
    